.env
src/lyric_overlay/__pycache__/
.spotify_cache
.spotify_cache
build/Lyricfy/Analysis-00.toc
build/Lyricfy/base_library.zip
build/Lyricfy/Lyricfy.pkg
build/Lyricfy/PYZ-00.pyz
build/Lyricfy/PYZ-00.toc
build/Lyricfy/qt.conf
build/Lyricfy/warn-Lyricfy.txt
build/Lyricfy/xref-Lyricfy.html
build/Lyricfy/localpycs/pyimod01_archive.pyc
build/Lyricfy/localpycs/pyimod02_importers.pyc
build/Lyricfy/localpycs/pyimod03_ctypes.pyc
build/Lyricfy/localpycs/pyimod04_pywin32.pyc
build/Lyricfy/localpycs/struct.pyc
Lyricfy.spec
build/Lyricfy/EXE-00.toc
build/Lyricfy/PKG-00.toc
