.env
.spotify_cache
examplebuildbat.bat
src/lyric_overlay/__pycache__/
__pycache__/
.pytest_cache/
.mypy_cache/
assets/lrc/downloaded/

build/
dist/
*.exe
*.ifp

Lyricfy.spec
.spotify_cache
.spotify_cache
.spotify_cache
